###############################################################################################################################
#wine pricing data 
#The following data consists of weekly retail scanner data on fifteen 
#brands of wine sold in the US. The data is from Nielsen and spans from July 4th, 2009 to June 25th, 2011.
wine_pricing <- read.csv('wine_pricing.csv')

#columns and rows look good
#many different brands, and the prices of each extracted out and turned into 
head(wine_pricing)

attach(wine_pricing)
###############################################################################################################################
#analysis focusing on BFE winery, pricing, sales, predicted values, and data visualizations.

#plotting the law of demand for BFE (remains to be slightly unnamed)
BFE_demand <- ggplot(wine_pricing, aes(Price_BFE, cases_BFE)) + geom_point() + labs(title = 'Simple Linear Estimate of BFE Demand', 
x='Price per Bottle', y='Cases Sold')

print(BFE_demand)
#the law of demand holds, as price increases, the amount of cases purchased decreases. 
barfill <- 
price_hist <- ggplot(wine_pricing, aes(x=Price_BFE)) +
  geom_histogram(aes(y = ..density..), binwidth = .2) + 
  scale_x_continuous(name = "Price per Bottle",
                     breaks = seq(6.5, 10, .5),
                     limits=c(6.5, 10)) +
  scale_y_continuous(name = "Percentage") +
  ggtitle("Distribution of BFE Price") + 
  colour = barlines, fill = barfill)



price_hist













