###############################################################################################################################
#wine pricing data 
#The following data consists of weekly retail scanner data on fifteen 
#brands of wine sold in the US. The data is from Nielsen and spans from July 4th, 2009 to June 25th, 2011.
wine_pricing <- read.csv('wine_pricing.csv')

#columns and rows look good
#many different brands, and the prices of each extracted out and turned into 
head(wine_pricing)

attach(wine_pricing)
###############################################################################################################################
#analysis focusing on BFE winery, pricing, sales, predicted values, and data visualizations.

#plotting the law of demand for BFE (remains to be slightly unnamed)
BFE_demand <- ggplot(wine_pricing, aes(cases_BFE, Price_BFE)) + geom_point() + 
theme_bw() + 
scale_y_continuous(name = "Price per Bottle",
                   breaks = seq(6.5, 10, .5),
                   limits=c(6.5, 10)) +
  scale_x_continuous(name = "Cases Sold",
                     breaks = seq(80,240,40),
                     limits = c(80, 240))
BFE_demand #the law of demand holds, as price increases
#the amount of cases purchased decreases. 


#HISTOGRAM
barfill <- "steelblue"
barlines <- "navy"

price_hist <- ggplot(wine_pricing, aes(x=Price_BFE)) +
  geom_histogram(aes(y = ..density..), binwidth = .2,   
                 colour = barlines, fill = barfill, na.rm = TRUE) + 
  scale_x_continuous(name = "Price per Bottle",
                     breaks = seq(6.5, 10, .5),
                     limits=c(6.5, 10)) +
  scale_y_continuous(name = "Percentage") +
  ggtitle("Distribution of BFE Price") +
  theme_bw()

price_hist #distribution tells an interesting story
###############################################################################################################################
#checking to see if price is significant
BFE = lm(formula = cases_BFE ~ Price_BFE, data = wine_pricing)
print(summary(BFE))

outreg(BFE)

#     .variable    .stat    Model 1
#  (Intercept) Estimate 424.270***
#               Std Err    [6.032]
#    Price_BFE Estimate -33.138*** #that's a good sign that the 
#               Std Err    [0.713]
#                     N       1560
#                    R2      0.581
#                adj R2      0.581
#                   AIC  13908.780

#the coefficient on the price is negative and highly significant at all conventional levels 
###############################################################################################################################
#date variable needs some work--can't be used in a model in its current state
date
newdate <- as.Date(date, format = "%d%b%Y") #converting date to a 'date class' and in R's format
month <- month(newdate) #extracting month from date
month #numerics

wine_pricing <- cbind(wine_pricing, month) #adding month to the dataframe

#making dummy variables--credit goes to github user: A5C1D2H2I1M1N2O1R2T1
dummyCreator <- function(invec, prefix = NULL) {
  L <- length(invec)
  ColNames <- sort(unique(invec))
  M <- matrix(0L, ncol = length(ColNames), nrow = L,
              dimnames = list(NULL, ColNames))
  M[cbind(seq_len(L), match(invec, ColNames))] <- 1L
  if (!is.null(prefix)) colnames(M) <- paste(prefix, colnames(M), sep = "_")
  M
} 

#Usage--adding the dummies to the dataframe
dummy <- dummyCreator(wine_pricing$month, prefix = "month")
wine_pricing <- cbind(wine_pricing, dummy)


BFE = lm(formula = cases_BFE ~ Price_BFE + month_2 + month_3 + month_4 + month_5 + month_6
 + month_7 + month_8 + month_9 + month_10 + month_11 + month_12, data = wine_pricing)
 
summary(BFE)

###############################################################################################################################

#We can see that seasonality plays a role in the number of cases sold.
#It can be said that, holding constant own price, sales tend to increase in the later 
#months of the year when compared to the base category January. 
#This is consistent with the general trend of the wine market. 
#Wine sales tend to increase during the October, November, December months (O,N,D).

#     .variable    .stat    Model 1
#   (Intercept) Estimate 365.445***
#                Std Err    [9.746]
#     Price_BFE Estimate -27.985***
#                Std Err    [1.033]
#       month_2 Estimate   8.293***
#                Std Err    [2.414]
#       month_3 Estimate   7.732***
#                Std Err    [2.638]
#       month_4 Estimate  20.817***
#                Std Err    [2.664]
#       month_5 Estimate  24.414***
#                Std Err    [2.885]
#       month_6 Estimate   8.825***
#                Std Err    [2.939]
#       month_7 Estimate   7.666***
#                Std Err    [2.357]
#       month_8 Estimate  18.371***
#                Std Err    [2.497]
#       month_9 Estimate  24.436***
#                Std Err    [2.631]
#      month_10 Estimate  21.587***
#                Std Err    [2.607]
#      month_11 Estimate  23.001***
#                Std Err    [2.626]
#      month_12 Estimate  20.380***
#                Std Err    [2.484]
#                      N       1560
#                     R2      0.631
#                 adj R2      0.628
#                    AIC  13732.827

###############################################################################################################################









